
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Higi Server</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Higi User Update</h1>
        </div>
        <form class="form-inline" id="message-form">
            <div class="form-group">
                <label class="sr-only" for="message-field">Message</label>
                <div class="input-group">
                    <div class="input-group-addon">Message</div>
                    <input type="text" class="form-control" id="message-field" placeholder="Enter message">
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                Send Notification
                <span class="glyphicon glyphicon-send"></span>
            </button>
        </form>
        <div>
            <span class="text-info" id="send-status"></span>
        </div>
        <hr />

    </div>

    <script src="https://unpkg.com/jquery@3.2.1"></script>
    <script src="~/scripts/home.js"></script>
</body>
</html>
